@use "../../../lib/_styles/color-variables" as cv;

input[type="text"]:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid var(--main-yellow);
}
input[type="text"] {
  height: 30px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--main-white);
}

.search-loader > svg {
  animation-name: loaderSearch;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: all ease-in;
}

@keyframes loaderSearch {
  0% {
    fill: var(--main-yellow);
  }
  50% {
    fill: var(--font-main);
  }
  100% {
    fill: var(--main-yellow);
  }
}

.search-loader > svg > g > g > #search-dot {
  animation-name: loaderSearchDot;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: all ease-in;
  transform-origin: 11% 7%;
  transition-property: all;
}

@keyframes loaderSearchDot {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(20px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.search-icon > svg {
  height: 16px;
  margin-top: -3px;
  fill: var(--light-gray);
}

.close-search {
  color: var(--font-main);
  position: absolute;
  top: 3px;
  z-index: 9999999;
  display: block;
  right: 10px;
  cursor: pointer;
  transition: ease-in all 0.3s;
}

.close-search:hover {
  color: var(--main-yellow);
}

.search-container {
  display: inline-flex;
  position: relative;
  margin-bottom: 0px !important;

  .dropdown-menu.show {
    max-height: 350px;
    overflow-y: scroll;
  }
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
}
